<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../css/styles.css">
    <title>Playd | <%= user.username %> </title>
</head>
<body>

    <head>
        <nav>
            <a href= '/home' class="logo-ctnr " ></a>
            <div class="hamburger" '>
                <a href="/calendar" class='hvr-underline'>Calendar</a>
                <a href="/discover">Discover</a>
                <a href="/news" id='news' >News</a>
                <div class="button-ctnr">
                    <a href="/signup" class="sign-up">Sign up</a>
                    <a href="/login" class="log-in">Log in</a>
                </div>
            </div>
        </nav>
    </head>

    <main>

        <div class="settings-ctnr">
                <div class="username-banner">
                    <h2><%= user.username %></h2>
                </div>
                
                <div class="account-settings">

                    <div class="account password">
                        <h4>Change Password</h4>
                        <form method= 'post' action= '/account/password'>
                            <input  name="password" >  
                            <input  name="password-confirm" >
                            
                            <button formmaction= '/account/password' formmethod = 'post'> Update Password</button>
                        </form>
                    </div>

                    <div class="account steam">
                        <h4>Connections</h4>
                        <!-- Display Errors for steam connection  -->
                        <% if (typeof errors != 'undefined' ) { %>
                            <% errors.forEach(error => { %>
                                <% if (errors.some(obj=>obj.param === 'steamName')) { %>
                                 
                                    <div class="error-alert">
                                        <p><%= error.msg %></p>
                                    </div>                    
                                <% } %>
                            <% }) %>
                        <% } %>
                         
                        <% if (user.steamName) { %>
                            <p><%= user.steamName %> already connected </p>
                        <% } else{ %>
                            <form class="steam-connection">
                                <input  
                                   name="steamName"
                                   type="text" 
                                   placeholder= 'Steam Username' 
                                   name="steam" 
                                   class='signup-input' 
                                   id="steam" 
                               >
                                <button type='submit' formaction="/steam/connect" formmethod="post" class="steam-submit">Connect Steam</button>   
                            </form>
                        <% } %> 
                        
                        
                    </div>
                </div>
                <button type="submit" class = 'logout-btn' >Log Out</button>

            </div>
            
        </div>
        
    </main>

    <footer>
        <a href="/About"><p>About</p></a>
        <a href="/Forums"><p>Forums</p></a>
        <a href="/Import"><p>Import</p></a>
    </footer>


    <script src="scripts/luxon.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js" integrity="sha512-otOZr2EcknK9a5aa3BbMR9XOjYKtxxscwyRHN6zmdXuRfJ5uApkHB7cz1laWk2g8RKLzV9qv/fl3RPwfCuoxHQ==" crossorigin="anonymous"></script>
    <script type="module" src="/scripts/index.js"></script>
</body>
</html>