<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../css/styles.css">
    <title>Discover</title>
</head>
<body>

    <head>
        <nav>
            <a href= '/index.html' class="logo-ctnr"></a>
            <a href="/Calendar.html">Calendar</a>
            <a href="/Discover.html">Discover</a>
            <a href="/News.html">News</a>
            <a href= "/Account.html" class="profile-ctnr">
                <img src='/img/profile.png' class="profile-pic"></img>
            </a>
        </nav>
    </head>

    <main>

        <div class="settings-ctnr">
                <div class="username-ctnr">
                    
                </div>
                
                <div class="account-settings">

                    <h2>Account</h2>

                    <div class="account-username">
                        <label for="username">Username:</label>
                        <input  name="username" >
                    </div>

                    <div class="account-password">
                        <label for="password">Password:</label>
                        <input  name="password" >
                    </div>

                    <div class="account-bio">
                        <label for="bio">Bio:</label>
                        <input  name="bio" >
                    </div>

                    <div class="account-birthday">
                        <label for="birthday">Birthday:</label>
                        <input  name="birthday" >
                    </div>


                </div>

                <div class="connections-settings">
                    
                </div>
            </div>
        </div>
        
    </main>

    <footer>
        <a href="/About.html"><p>About</p></a>
        <a href="/Forums.html"><p>Forums</p></a>
        <a href="/Import.html"><p>Import</p></a>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/js/splide.min.js"></script>
    <script src="scripts/luxon.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.1.0/chart.js" integrity="sha512-LlFvdZpYhQdASf4aZfSpmyHD6+waYVfJRwfJrBgki7/Uh+TXMLFYcKMRim65+o3lFsfk20vrK9sJDute7BUAUw==" crossorigin="anonymous"></script>
    <script type="module" src="/scripts/index.js"></script>
</body>
</html>