<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../css/styles.css">
    <title>Discover</title>
</head>
<body>

    <head>
        
        <nav>
            <a href= '/index.html' class="logo-ctnr"></a>
            <a href="/Calendar.html">Calendar</a>
            <a href="/Discover.html">Discover</a>
            <a href="/News.html">News</a>
            <a href= "/Account.html" class="profile-ctnr">
                <img src='/img/profile.png' class="profile-pic"></img>
            </a>

        </nav>
    </head>

    <main>
        <div class="slide-ctnr left-btn">
            <button type="" class="slide-btn" id="left-btn"></button>

            <div class='top-month-ctnr'>
                
            </div>

            <button type="" class="slide-btn " id="right-btn"></button>
        </div>     

       <div class='list-ctnr'>
           <div class= 'list-row'>

                <a href = '#' href = '#' class = 'list' >
                    <div class="list-info">
                        <img src='img/logos/IGN.png'>
                        <p>IGN Top Games of 2020</p>
                    </div>
                    <div class='list-background' id='ign'></div>
                </a>

                <a href = '#' class = 'list' >
                    <div class="list-info">
                        <img src='img/logos/Metacritic.png'>
                        <p>Metacritic Top Games of 2020</p>
                    </div>
                    <div class='list-background' id='metacritic'></div>
                </a>

                <a href = '#' class = 'list' >
                    <div class="list-info">
                        <img src='img/logos/Polygon.png' alt='Polygon logo'>
                        <p>Polygon Top 50 games of 2020</p>
                    </div>
                    <div class='list-background' id='polygon'></div>
                </a>

                <a href = '#' class = 'list' >
                    <div class="list-info">
                        <img src='img/logos/GamesRadar.png'>
                        <p>Gamesradar Best Games of 2020</p>
                    </div>
                    <div class='list-background' id='gamesradar'></div>
                </a>

           </div>
           <div class= 'list-row'>
                <a href = '#' class = 'list' >
                    <div class="list-info">
                        <img src='img/logos/Reddit_logo_new.png'>
                        <p>Reddit top 100 games</p>
                    </div>
                    <div class='list-background' id='reddit'></div>
                </a>
                <a href = '#' class = 'list' >
                    <div class="list-info">
                        <img src="img/logos/Microsoft.png" alt="Microsoft logo">
                        <p>Top 50 PC games of 2020</p>
                    </div>
                    <div class='list-background' id='pc'></div>
                </a>
                <a href = '#' class = 'list' >
                    <div class="list-info">
                        <img src='img/logos/Xbox.png' alt= 'Xbox logo'>
                        <p>Top 50 Xbox games of 2020</p>
                    </div>
                    <div class='list-background' id='xbox'></div>
                </a>
                <a href = '#' class = 'list' >
                    <div class="list-info">
                        <img src='img/logos/PlayStation.png' alt= 'Playstation logo'>
                        <p>Top 50 playstation Games of 2020</p>
                    </div>
                    <div class='list-background' id='playstation'></div>
                </a>
           </div>
           
        
       </div>
        
    </main>

    <footer>
        <a href=""><p>About</p></a>
        <a href=""><p>Forums</p></a>
        <a href=""><p>Import Game</p></a>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/js/splide.min.js"></script>
    <script src="scripts/luxon.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.1.0/chart.js" integrity="sha512-LlFvdZpYhQdASf4aZfSpmyHD6+waYVfJRwfJrBgki7/Uh+TXMLFYcKMRim65+o3lFsfk20vrK9sJDute7BUAUw==" crossorigin="anonymous"></script>
    <script type="module" src="/scripts/index.js"></script>
</body>
</html>