<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Playd</title>
</head>
<body>

    <head>
        <nav>
            <a href= '/home' class="logo-ctnr " ></a>
                <div class="landing-button-ctnr" >
                    <a href="/signup" class="sign-up">Sign up</a>
                    <a href="/login" class="log-in">Log in</a>
                </div>
        </nav>
    </head>

    <main>
        <div class="landing-ctnr">
            <div class="top">
                <div class="image-ctnr" id='gamer' style= 'background-image: url(/img/landing.png);'></div>
                <div class="text-ctnr">
                    <h1>Where did the time go?</h1>
                    <p>Playd allows you to collect all of your games in one place to see your play times.</p>
                    <button type="" class="demo-btn">Demo</button>
                </div>
            </div>

            <div class="info-ctnr">
                <div class="info-card" >
                    <div class="info-image" id='monitor' style= 'background-image: url(/img/clock.png)'></div>
                    <h6>Stats</h6>
                    <p>View your saved games and how much time you've spent playing them</p>
                </div>
                <div class="info-card" >
                    <div class="info-image" id='friends' style= 'background-image: url(/img/friends.png)'></div>
                    <h6>Friends</h6>
                    <p>See what games your friends have been into recently</p>
                </div>
                <div class="info-card" >
                    <div class="info-image" id='sync' style= 'background-image: url(/img/sync.png)'></div>
                    <h6>Sync</h6>
                    <p>Collect data for your games from multiple storefronts</p>
                </div>
            </div>
        </div>
        
    </main>

    <footer>
        <a href="/About"><p>About</p></a>
        <a href="/Forums"><p>Forums</p></a>
        <a href="/Import"><p>Import</p></a>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/js/splide.min.js"></script>
    <script src="scripts/luxon.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="/scripts/index.js"></script>
</body>
</html>