<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../css/styles.css">
    <title>Login</title>
</head>
<body>

    <head>
        <nav>
            <a href= '/' class="logo-ctnr"></a>
            <a href="/calendar">Calendar</a>
            <a href="/discover">Discover</a>
            <a href="/news">News</a>
            <a href= "/account" class="profile-ctnr">
                <img src='/img/profile.png' class="profile-pic"></img>
            </a>
        </nav>
        </nav>
    </head>

    <main>
        <div class="login-ctnr">
            <input type="text" name="username" class='username' placeholder="username">
            <input type="text" name="password" class='password' placeholder="password">
            <button type="submit" class="login-submit-btn">Submit</button>
        </div>
        
    </main>

    <footer>
        <a href="/About"><p>About</p></a>
        <a href="/Forums"><p>Forums</p></a>
        <a href="/Import"><p>Import</p></a>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js" integrity="sha512-otOZr2EcknK9a5aa3BbMR9XOjYKtxxscwyRHN6zmdXuRfJ5uApkHB7cz1laWk2g8RKLzV9qv/fl3RPwfCuoxHQ==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/js/splide.min.js"></script>
    <script src="scripts/luxon.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.1.0/chart.js" integrity="sha512-LlFvdZpYhQdASf4aZfSpmyHD6+waYVfJRwfJrBgki7/Uh+TXMLFYcKMRim65+o3lFsfk20vrK9sJDute7BUAUw==" crossorigin="anonymous"></script>
    <script type="module" src="scripts/index.js"></script>
</body>
</html>