<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../css/styles.css">
    <title>Login</title>
</head>
<body>

    <head>
    </head>

    <main>
        <div class="signup-background"></div>
        <div class="login-form-ctnr">
            <h1>Log In</h1>
            <form class="login-ctnr">
                <div class="input-ctnr">
                    <input type="text" name="username" class='username' placeholder="username">
                    <input type="text" name="password" class='password' placeholder="password">
                </div>
                <button type="submit" formmaction="/login" formmethod='post'  lass="login-submit-btn">Submit</button>
                <% if (typeof errors != 'undefined') { %>
                    <% errors.forEach(error => { %>
                        <div class="error-alert">
                            <p><%= error.msg %></p>
                        </div>                    
                    <% }) %>
                <% } %>
            </form>
            <a href="/signup">No Account? Sign up!</a>
        </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js" integrity="sha512-otOZr2EcknK9a5aa3BbMR9XOjYKtxxscwyRHN6zmdXuRfJ5uApkHB7cz1laWk2g8RKLzV9qv/fl3RPwfCuoxHQ==" crossorigin="anonymous"></script>
    <script src="scripts/luxon.js"></script>
    <script type="module" src="scripts/index.js"></script>
</body>
</html>