<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../css/styles.css">
    <title>Discover</title>
</head>
<body>

    <head>
        <nav>
            <a href= '/home' class="logo-ctnr " style= 'background-image: url(/img/logos/logo-only.png);'></a>
            <div class="hamburger" '>
                <a href="/calendar" class='hvr-underline'>Calendar</a>
                <a href="/discover">Discover</a>
                <a href="/news" id='news' >News</a>
                <div class="button-ctnr">
                    <a href="/signup" class="sign-up">Sign up</a>
                    <a href="/login" class="log-in">Log in</a>
                </div>
            </div>
        </nav>
    </head>

    <main>
        <div class="news-ctnr">
            <h1>This page is under construction</h1>
            <p>I'm working on it!</p>
        </div>
        
    </main>

    <footer>
        <a href="/About"><p>About</p></a>
        <a href="/Forums"><p>Forums</p></a>
        <a href="/Import"><p>Import</p></a>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/js/splide.min.js"></script>
    <script src="scripts/luxon.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.1.0/chart.js" integrity="sha512-LlFvdZpYhQdASf4aZfSpmyHD6+waYVfJRwfJrBgki7/Uh+TXMLFYcKMRim65+o3lFsfk20vrK9sJDute7BUAUw==" crossorigin="anonymous"></script>
    <script type="module" src="/scripts/index.js"></script>
</body>
</html>