<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../css/styles.css">
    <title>Register for Playd</title>
</head>
<body>

    <head>
    </head>

    <main >
        <div class="signup-background"></div>
        <div class='signup-form-ctnr'>
            
            <h1>Create Account</h1>
            <form action="/signup" method="post">
                <div class="account-info">
                    <input 
                    type="email" 
                    placeholder= 'Email' 
                    name="email" 
                    class='signup-input' 
                    id="email"
                    value="<%= typeof email != 'undefined' ? email : '' %>"
                >
                <input 
                    type="text" 
                    placeholder= 'Username' 
                    name="username" 
                    class='signup-input' 
                    id="username"
                    value="<%= typeof username != 'undefined' ? username : '' %>"
                >
                <input 
                    type="password" 
                    placeholder= 'Password' 
                    name="password" 
                    class='signup-input' 
                    id="password"
                >
                <input 
                    type="password" 
                    placeholder= 'Confirm Password' 
                    name="password-confirm" 
                    class='signup-input' 
                    id="confirm"
                >
                </div>
                
                <h2>Connect to steam (Optional)</h2>
                <div class="steam">
                    <input 
                        type="text" 
                        placeholder= 'Steam Username' 
                        name="steamName" 
                        class='signup-input' 
                        id="steam"
                        value="<%= typeof steamName != 'undefined' ? steamName : '' %>"
                    >
                    
                </div>
                <button type="submit" formaction="/signup" formmethod="post" class="signup-submit">Sign Up</button>
            </form>

            

            <% if (typeof errors != 'undefined') { %>
                <% errors.forEach(error => { %>
                    <div class="error-alert">
                        <p><%= error.msg %></p>
                    </div>                    
                <% }) %>
            <% } %>
            
        </div>
    </main>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js" integrity="sha512-otOZr2EcknK9a5aa3BbMR9XOjYKtxxscwyRHN6zmdXuRfJ5uApkHB7cz1laWk2g8RKLzV9qv/fl3RPwfCuoxHQ==" crossorigin="anonymous"></script>
    <script src="scripts/luxon.js"></script>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="scripts/index.js" type='module' ></script>
</body>
</html>