$bgColor: #E3E3E3;
$primaryColor: #3765A9;
$secondaryColor: #E4E4E4;
$linkColor: #343434;



body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $bgColor;
    width: 100%;
    overflow-x: hidden;
}

nav{
    position: relative;
    background: $secondaryColor;
    width: 100%;
    display: flex;
    max-height: 5em;

    .logo-ctnr{
        
        min-width: 13.55%;
        margin-right: 8%;
        background-image: url(../img/logos/logo.png);
        background-size: 30%;
        background-position: center;
        background-repeat: no-repeat;
    }

    a{
        color:$linkColor;
        font-weight: bold;
        font-size: 2rem;
        margin: 1% 0 1% 0;
        text-decoration: none;
        margin-right: 8%;
        min-width: 13.5%;
        max-width: 13.5%;
        text-align: center;
        
        &:hover{
            color: $primaryColor;
        }
    }
    
    :nth-child(4){

    }

    .profile-ctnr{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 1%;
        img{
            width: auto;
            max-height: 100%;
            background-color: $primaryColor;
            border-radius: 50%;
        }
    }
}

main{

    height: 1457px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    #search{
        border: none;
        border-radius: 1rem;
        background-color: $secondaryColor;
        font-size: 1.5rem;
        text-align: center;
        max-height: 5%;
        width: 56.67%;
        margin-top: 2.7%;
        padding: 1%;

        &:focus{
            
            outline: none;
        }
    }

    #graph-ctnr{
        border: none;
        border-radius: 1rem;
        background-color: #F1F1F1;
        margin-top: 2.7%;
        width: 86%;
        height: 27%;
        display: flex;

        #play-graph{
            
        }
    }

    .recently-played-ctnr{
        
        height: 19.5%;
        margin-top: 2.7%;
        width: 86%;
        display: flex;
        

        .recent-game{
            border-radius: 1rem;
            height:100%;
            max-width:13.25%;
            min-width:13.25%;
            margin-right: 1em;
            background-position: center;
            background-size: contain;
        }
        
    }

    .friends-played-ctnr{
        overflow-x: scroll;
        background-color: $secondaryColor;
        height: 23.8%;
        margin-top: 2.7%;
        width: 86%;
        display: flex;

        .friend-ctnr{
            background-color: #F1F1F1;
            border-radius: 1rem;
            min-width: 32%;
            height: 83%;
            display: flex;
            
            align-items: center;
            margin-right: 1em;

            

            .img{
                border-radius: 1rem;
                width: 34%;
                height: 86%;
                margin-left: 1em;
                background-position: center;
                background-size: contain;
            }

            .friend-text-ctnr{
                width: 64%;
                height: 58%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .username{
                    color: $primaryColor;
                    font-size: 2rem;
                    font-weight: 600;
                    text-decoration: none;

                }
            }
        }
    }

    .slide-ctnr{
        
        min-width: 66%;
        min-height: 50%;
        margin-bottom: 3%;
        display: flex;
        align-items: center;
        
        .top-month-ctnr{
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: black;
            
    
            .top-game{
                visibility: hidden;
                position: absolute;
                height: 94%;
                width: 50%;
                background-position: center;
                background-size: cover;
                display: flex;
                align-items: flex-end;
                justify-content: center;

                .info-ctnr{
                    position: relative;
                    width: 80%;
                    height: 10%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    

                    p{
                        margin: 0;
                    }

                    .game-info-ctnr{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 30%;
                    }
                    .game-info{
                        font-weight: bold;
                        color:#E3E3E3;
                        text-align: center;
                        white-space: pre;
                    }

                    .info-text{
                        color: #E3E3E3;
                    }

                    
                }
                .info-background{
                    position: absolute;
                    width: 100%;
                    height: 10%;
                    z-index: 0;
                    background: black;
                    opacity: .3;
                }
            }

            .background-cover{
                position: absolute;
                z-index: 0;
                background-size: cover;
                width: 100%;
                height: 100%;
                opacity: 0.3;
                visibility: hidden;
            }
            .visible{
                visibility: visible;
            }
        }

        .slide-btn{
            height: 8vw;
            width: 8vw;
            border: none;
            background-color: inherit;
            opacity: .5;
            &:hover{
                cursor: pointer;
                opacity: 1;
            }
        }
        #left-btn{
            background-image: url(/../img/Arrow.png);
            background-position: center;
            background-size: contain;
            transform: rotate(180deg);
        }
        #right-btn{
            background-image: url(/../img/Arrow.png);
            background-position: center;
            background-size: contain;
        }
    }
    
    
    .list-ctnr{
        width: 100%;
        padding: 0 5% 0 5% ;
        display: flex;
        flex-direction: column;
    }
    .list-row{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 1em;
    }

    .list{
        width: 24em;
        height: 19em;
        margin-right: 1em;
        background: black;
        color: #E3E3E3;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        
        

        .list-info{
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            img{
                max-width: 50%;
                max-height: 80px;
            }

            p{
                width: 50%;
                font-size: 1.15em;
                text-align: center;
                font-weight: bold;
            }
        }
    }

    .list-background{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 0;
        opacity: 0.4;
        transition: all .3s;
    }
    #ign{
        background-image: url(../img/screenshots/Hades.jpg);
        background-position: center;
        background-size: 150%;
        background-repeat: no-repeat;
    }
    #metacritic{
        background-image: url(../img/screenshots/LastofUS2.png);
        background-position: center;
        background-size: 150%;
        background-repeat: no-repeat;
    }
    #polygon{
        background-image: url(../img/screenshots/Kentucky.jpg);
        background-position: center;
        background-size: 150%;
        background-repeat: no-repeat;
    }
    #gamesradar{
        background-image: url(../img/screenshots/Valhalla.jpg);
        background-position: center;
        background-size: 150%;
        background-repeat: no-repeat;
    }
    #reddit{
        background-image: url(../img/screenshots/Alyx.jpg);
        background-position: center;
        background-size: 150%;
        background-repeat: no-repeat;
    }
    #pc{
        background-image: url(../img/screenshots/DiscoElysium.jpg);
        background-position: center;
        background-size: 150%;
        background-repeat: no-repeat;
    }
    #xbox{
        background-image: url(../img/screenshots/Gears5.jpg);
        background-position: center;
        background-size: 150%;
        background-repeat: no-repeat;
    }
    #playstation{
        background-image: url(../img/screenshots/Spider-man.jpeg);
        background-position: center;
        background-size: 150%;
        background-repeat: no-repeat;
    }

    .calendar-ctnr{
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    // Account Page
    
    .settings-ctnr{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .username-ctnr{
            position: relative;
            border: solid;
            width: 100%;
            height: 18%;
            display: flex;
            align-content: center;
            justify-content: center;
            margin-bottom: 2%;

            h1{
                position: absolute;
                z-index: -1;
                font-size:10em ;
            }

            img{
                background-color: $primaryColor;
                border-radius: 50%;
                height: 80%;
                margin-top: 1%;
            }
        }

        .account-settings{
            position: relative;
            width: 42%;
            height: 36%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color:#F1F1F1;
            h2{
                position: absolute;
                top: 0;
                left: 0;
                margin-left: 3%;
                color: $primaryColor;
            }

            input{
                width: 72%;
                border: none;
            }

            label{
                margin-right: 1%;
                text-align: left;
                width: 22%;
                font-weight: bold;
                font-size: 1.25em;

            }
            .account-username{
                width: 68%;
                display: flex;
                justify-content: center;
                align-content: center;
                margin-top: 5%;
                margin-bottom: 5%;
               
            }

            .account-password{
                width: 68%;
                display: flex;
                justify-content: center;
                align-content: center;
                margin-bottom: 5%;
            }

            .account-bio{
                width: 68%;
                display: flex;
                justify-content: center;
                align-content: center;
                margin-bottom: 5%;
            }

            .account-birthday{
                width: 68%;
                display: flex;
                justify-content: center;
                align-content: center;
                margin-bottom: 5%;
            }
        }

    }

    // Results Page
    .results-ctnr{
        width: 100%;
        min-height: 16%;
        max-height: 16%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .result{
            position: relative;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 13%;
            height: 100%;
            margin-right: 1%;
            margin-top: 1%;
            display: flex;
            justify-content: center;

            h2{
                position: absolute;
                width: 80%;
                text-align: center;
            }

            button{
                height: 20%;
                align-self: flex-end;
            }
        }
    }
}

Footer{
   
    width: 100%;
    background: #343434;
    display: flex;
    justify-content: center;

    p{
        margin: 0;
    }
    a{
        color:$secondaryColor;
        font-weight: bold;
        font-size: 2rem;
        text-decoration: none;
        margin: 1% 1% 1% 0;
        min-width: 13.5%;
        max-width: 13.5%;
        text-align: center;

         &:hover{
            color: $primaryColor;
        }
    }
}
